@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#cvv {
    display: inline-block;
}

#cvvCode,#exData1,#exData2 {
    width: 70px;
}

.conteiner {
    width: 80%;
    margin: auto;
}

.card-bank{
    width: 60%;
    height: 350px;
    position: relative;
    background:url(../img/moon_flag.png) 300px -90px no-repeat;
    padding: 40px;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #95ccff;
}

.card-title {
    width: 80%;
    position: absolute;
   top: -5%;
   left: -2%;
    background-color: #eb7d62;
    padding: 5px;
    font-size: 1.5em;
}



